* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

header {
  height: 20px;
  background-color: #272a31;
  display: none;
  width: 100vw;
}

a {
  text-decoration: none;
}

.navdiv {
  background-color: white;
  border-bottom: #ec5242 3px solid;
}

nav img {
  height: 80px;
}

.navbar-brand-img1 {
  display: none;
}

.overlay a {
  padding: 21px;
  text-decoration: none;
  font-size: 26px;
  color: white;
  display: block;
  transition: 0.3s;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
  margin-left: 53px;
}

nav .navlinks {
  width: 46%;
}

.intro {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: rgb(243, 243, 243);
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* padding-right: 5rem; */
}

.intro::before {
  content: "";
  background-image: linear-gradient(to top right, rgba(124, 103, 107, -0.13), rgba(0, 0, 0, 0.1)), url(./Images/Nail-pic.JPG);
  background-size: cover;
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  opacity: 0.1;
}

h1 {
  background: -webkit-linear-gradient(red, rgb(74, 85, 86));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  line-height: 0.9;
  font-size: 55px;
  font-weight: bold;
  padding: 2rem;
  margin-top: 15%;
}

.intro-message {
  background: -webkit-linear-gradient(red, rgb(74, 85, 86));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
  font-size: 24px;
  padding-left: 2rem;
}

.intro-desc {
  border: 2px solid white;
  background-color: rgb(243, 243, 243);
  position: relative;
  margin: 2rem;
  padding: 1rem;
  max-width: 550px;
  margin-left: -7rem;
}

.intro-date {
  font-size: 20px;
  font-weight: 800;
  margin-left: 2rem;
  margin-left: -10rem;
}

.intro span {
  margin-left: -24rem;
}

nav .navlinks .active {
  color: #ec5242;
}

nav div button {
  border: #ec5242 4px solid;
  color: #ec5242;
  padding: 5px 10px;
  background-color: white;
}

nav .navlinks a {
  color: #272a31;
}

.news-events {
  background-color: #272a31;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  gap: 5px;
}

.news-events h2 {
  color: white;
}

.line {
  height: 1px;
  background-color: #e43c13;
  width: 50px;
}

.card-body p {
  color: white;
  font-size: 14px;
}

.card-img-top {
  width: 17%;
}

.card-body .card-title {
  color: #e43c13;
  font-size: 18px;
  margin-right: 5px;
}

.card {
  background-color: #272a31;
}

.card:hover {
  border: 2px solid #e43c13;
}

.btn-outline-secondary {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  margin: 10px 48px;
  padding: 24px;
  background-color: #ec5242;
  color: #fff;
}

footer img {
  height: 100px;
}

.card-img-top img {
  height: 42%;
}

.redline {
  width: 70px;
  border-top: #ec5242 2px solid;
  margin: auto;
  margin-bottom: 3em;
}

.roundimg {
  height: 170px;
  width: 150px;
  object-fit: cover;
  border-radius: 50%;
  border: #ec5242 5px solid;
  margin-right: 2em;
}

.section-title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 32px;
}

.section-title-holder::after {
  width: 6.25rem;
  height: 0.1875rem;
  background: #e95242;
  left: 37vw;
  content: "";
  position: absolute;
}

.orange-text {
  color: #ec5242 !important;
}

.py-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.sec2 h5 {
  font-weight: bold;
}

.sec2 small {
  color: #ec5242;
  font-style: italic;
}

.sec2 {
  margin-left: 3rem;
  margin-right: 4rem;
}

aside {
  background-color: #272a31;
}

footer .footerlinks {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}

.partner {
  height: 80px;
}

footer .footericons a {
  color: #272a31;
}

footer .footerlinks a {
  color: #272a31;
  text-decoration: none;
  padding: 0 1vw;
}

footer a:hover {
  color: #ec5242;
}

#mr-5 {
  width: 70%;
  margin-left: 27%;
  margin-bottom: -47%;
}

footer #icon {
  display: inline;
}

.about {
  height: 100vh;
  width: 100%;
  position: relative;
  background-color: rgb(243, 243, 243);
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: start;
}

.about::before {
  content: "";
  background-image: linear-gradient(to top right, rgba(124, 103, 107, -0.13), rgba(0, 0, 0, 0.1)), url(./Images/Nail-pic.JPG);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 1px;
  right: 1px;
  bottom: 1px;
  left: 1px;
  opacity: 0.1;
}

.footer-name p {
  margin: 1px;
  color: #e43c13;
  font-size: 18px;
  font-weight: 600;
}

.about-started p {
  margin: 1rem;
  text-align: center;
}

.activity p {
  color: white;
  position: relative;
  text-align: center;
}

.about .contact-us p {
  color: black;
  font-size: 14px;
}

.about-content {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Description {
  width: 80%;
  font-size: 20px;
  border: 2px solid rgb(230, 227, 227);
  background-color: white;
  position: relative;
  margin: 1rem;
  padding: 1rem;
  max-width: 674px;
}

.about-content h2 {
  font-size: 30px;
  position: relative;
  background: -webkit-linear-gradient(red, rgb(74, 85, 86));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.about .contact-us {
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

.about .contact-us span {
  columns: black;
  font-size: 18px;
  text-decoration: underline;
}

.footer-img {
  height: 60px;
  width: 80px;
}

.footer-logo .footer-img {
  width: 80%;
  height: 50%;
}

.footer-log .footer-name p {
  font-size: 45px;
}

.activities {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}

footer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0;
  color: #d3d3d3;
}

.footer-logo {
  display: flex;
  margin-right: 1rem;
}

.footer-message {
  width: 84%;
  height: 0%;
  margin-right: 72px;
  color: black;
}

.divider {
  background-color: rgb(211, 211, 211);
  height: 1px;
}

.activity {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 109%;
  max-width: 408px;
  height: 298px;
  margin: 1rem;
  background-color: #e43c13;
  position: relative;
}

.activity img {
  width: 100%;
  height: 100%;
  opacity: 0.3;
  position: absolute;
}

.activity h2 {
  color: white;
  font-size: 35px;
  font-weight: bold;
  position: relative;
}

.about-started {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-logo {
  padding-top: 2rem;
  padding-bottom: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-logo-desc {
  margin-top: 1rem;
  text-align: center;
  max-width: 600px;
}

.intro-about-desc {
  border: 2px solid rgb(230, 227, 227);
  background-color: white;
  position: relative;
  margin: 1rem;
  padding: 1rem;
  max-width: 550px;
}

.spec-img {
  height: 71%;
}

.partners-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  background-color: #272a31;
}

.partners-section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  background-color: #272a31;
  margin-top: 6%;
}

.partners-section1 h2 {
  color: white;
}

.partners {
  display: flex;

  /* flex-wrap: wrap; */
  justify-content: center;
}

.partner1 {
  padding: 1rem;
  font-size: 30px;
}

.partner4 {
  padding: 1rem;
  color: white;
  font-size: 30px;
}

.footer-img1 {
  width: 72%;
  margin-left: 89px;
}

.card-img {
  width: 17%;
}

.card-body {
  height: 53%;
  border: 1px solid white;
  background-color: #272a31;
  align-items: center;
}

.partner3 {
  padding: 1rem;
  width: 82%;
  margin-bottom: -42px;
}

@media screen and (min-width: 768px) {
  #foot {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem;

    /* background-color: #272a31; */
  }

  .partner3 {
    padding: 1rem;
    width: 60%;
    margin-bottom: -42px;
  }

  #mr-5 {
    width: 51%;
    margin-left: 41%;
    margin-bottom: -36%;
  }

  h1 {
    margin-top: 5%;
  }

  .about-content h1 {
    font-size: 50px;
    position: relative;
    text-align: center;
    margin-top: 29%;
  }

  footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 3rem;
    background-color: white;
  }

  header {
    display: flex;
    color: white;
  }

  .medias {
    display: flex;
    align-items: center;
    float: right;
    margin-left: auto;
    padding-right: 6rem;
  }

  .medias span {
    padding-left: 10px;
    padding-right: 10px;
  }

  a {
    color: white;
    padding: 5px;
  }

  .card-body {
    height: 53%;
    border: 1px solid white;
  }

  #img {
    height: 61%;
  }

  .card-img-top {
    width: 100%;
  }

  .card-img {
    height: 44%;
    width: 100%;
  }
}

@media (min-width: 975px) {
  .about-content h1 {
    margin-top: 11px;
  }

  footer {
    color: #d3d3d3;
  }

  .partner3 {
    padding: 1rem;
    width: 33%;
  }

  #mr-5 {
    width: 29%;
    margin-left: 52%;
    margin-bottom: -17%;
  }
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: rgba(90, 149, 158, 0.9);
  backdrop-filter: blur(6px);
  overflow-x: hidden;
  transition: 0.5s;
  mix-blend-mode: multiply;
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
}

.overlay a:hover,
.overlay a:focus {
  color: #f1f1f1;
}

.overlay .closebtn {
  position: absolute;
  top: -6px;
  right: 0;
  font-size: 47px;
  font-weight: 100;
}
